<div *ngIf="question" class="container py-5">
  <div *ngIf="!edit">
    <div id="question">
      <h3>{{question.title}}</h3>
      <hr/>
      <p class="lead">{{question.body}}</p>
      <hr/>
      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted">author: {{question.author.name}}</small>
        <small class="text-muted">posted at {{postedAt(question.createdAt)}}</small>
      </div>

      <div id="buttons" class="my-3">
        <a class="btn btn-secondary" role="button" (click)="goBack()">Back</a>
        <a *ngIf="isCurrent"
            (click)="edit = true"
            role="button"
            class="btn btn-outline-primary text-primary">
          Edit
        </a>
        <a *ngIf="isCurrent"
            class="btn btn-outline-danger text-danger"
            role="button"
            (click)="delete(question.id)">
          Delete
        </a>
      </div>
      <hr/>

    </div>

    <div id="answers">
      <app-answers [questionId]="question.id"></app-answers>
    </div>
  </div>
  <div *ngIf="edit">
    <app-question-form [question]="question"
                       (questionsChange)="refresh()">
    </app-question-form>
  </div>
</div>
