<div class="container py-4">
  <form #questionForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <input type="text"
              class="form-control"
              id="title"
              placeholder="Title"
              [(ngModel)]="question.title"
              name="title"
              required
              pattern=".{3,100}">
    </div>
    <div class="form-group row">
      <textarea rows="3"
                class="form-control"
                id="body"
                [(ngModel)]="question.body"
                name="body"
                required
                minlength="3"
                maxlength="5000">
      </textarea>
    </div>
    <div class="form-group row">
      <div class="btn-block">
        <button *ngIf="question.id"
                class="btn btn-secondary"
                (click)="back()">
          Back
        </button>
        <button type="submit"
                class="btn btn-primary"
                [class.disabled]="submitDisabled">
          {{question.id ? 'Save' : 'Ask Question'}}
        </button>
      </div>
    </div>
  </form>
</div>
