<nav class="navbar navbar-full navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <ul class="nav navbar-nav float-sm-right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/questions">All Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Answered Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Unanswered Questions</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="bg-faded py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Contact Us!</h1>
        <p>ievgen@lorem.ipsum</p>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-12 hidden-sm-up text-left">
            <a href="https://www.facebook.com/profile.php?id=100004862738922">
              <i class="fa fa-3x fa-fw fa-facebook text-inverse"></i>
            </a>
            <a href="https://github.com/deugene">
              <i class="fa fa-3x fa-fw fa-github text-inverse"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs-down text-right">
            <a href="https://www.facebook.com/profile.php?id=100004862738922">
              <i class="fa fa-3x fa-fw fa-facebook text-inverse"></i>
            </a>
            <a href="https://github.com/deugene">
              <i class="fa fa-3x fa-fw fa-github text-inverse"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
