<div *ngIf="currentUser" class="container pt-4">
  <app-question-form [mode]="'create'"
                     (questionsChange)="all()">

  </app-question-form>

  <div class="btn-group pb-2" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter by answers
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"
             (click)="filter(null)"
             role="button">
            All
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             (click)="filter('answered')"
             role="button">
            Answered
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
             (click)="filter('unanswered')"
             role="button">
            Unanswered
          </a>
        </div>
      </div>
      <button type="button"
              class="btn btn-secondary"
              data-toggle="button"
              [attr.aria-pressed]="showOnlyCurrentUserQuestions"
              (click)="toggleOnlyCurrentUserQuestions()"
              autocomplete="off">
        Show only my questions
      </button>
      <button class="btn btn-secondary">
        Ask Question
      </button>
  </div>

  <div *ngIf="questions">
    <div class="list-group pb-2">
      <a *ngFor="let question of questions | paginate: { id: 'questions', itemsPerPage: searchOpts.limit, currentPage: currentPage, totalItems: totalItems }"
          class="list-group-item list-group-item-action flex-column align-items-start"
          routerLink="/questions/{{question.id}}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{question.title}}</h5>
          <small class="text-muted">posted at {{postedAt(question.createdAt)}}</small>
        </div>
        <p class="mb-1">{{question.body}}</p>
        <small class="text-muted">author: {{question.author.name}}</small>
      </a>
    </div>

    <pagination-controls id="questions" (pageChange)="pageChanged($event)"></pagination-controls>

  </div>

</div>
